.pagination .page-item .page-link[b-tw9xron4aa] {
    font-size: .8em;
}
.card-body[b-tw9xron4aa]{
    width: 100%;
    overflow-x:auto;
}
.table[b-tw9xron4aa]{
    width:120%;
}
/*Responsive*/
@media screen and (max-width: 767px) {
    .pagination .page-item .page-link[b-tw9xron4aa] {
        padding: 8px 12px;
    }
}

@media screen and (min-width: 768px) {
}
